<p id="notice"><%= notice %></p>

<p>
  <strong>Vechicle param type:</strong>
  <%= @vechicle_param.vechicle_param_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @vechicle_param.user %>
</p>

<p>
  <strong>Value:</strong>
  <%= @vechicle_param.value %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @vechicle_param.desc %>
</p>

<%= link_to 'Edit', edit_vechicle_param_path(@vechicle_param) %> |
<%= link_to 'Back', vechicle_params_path %>
