<%= simple_form_for(@vechicle_cost) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="input-group">
      <span class="input-group-addon">Nazwa</span>
       <%= f.text_field :name, placeholder:"Nazwa", :autofocus => true, class:"form-control", required: true %><br>
    </div><br>
    <div class="input-group">
      <span class="input-group-addon">Samochód</span>
       <%= f.collection_select :vechicle_id, Vechicle.all.order("name"), :id, :name_for_select, {prompt: "Wybierz", id:"vachicleselect"}, {class:"form-control", required: true} %><br>
    </div><br>
    <div class="input-group">
      <span class="input-group-addon">Wartość</span>
       <%= f.number_field :cost, step:0.01, class:"form-control", required: true %><br>
      <span class="input-group-addon">zł</span>
    </div><br>
    <div class="input-group">
      <span class="input-group-addon">Opis</span>
       <%= f.text_field :desc, placeholder:"Nazwa", :autofocus => true, class:"form-control", required: true %><br>
    </div><br>
  </div>

  <%= f.hidden_field :user, value:current_user.id %>
  <div align="center">
    <%= f.submit 'Zatwierdź', class:"btn btn-success" %>
    <%= link_to 'Lista kosztów', vechicle_costs_path, class:"btn btn-primary" %>
  </div>
<% end %>
