<% content_for :title, "Lista kosztów" %>
<div class="container">

<h1 class=page-header>Lista kosztów</h1>

<table class="table">
  <thead>
    <tr>
      <th>Tytuł</th>
      <th>Pojazd</th>
      <th>Koszt</th>
      <th>Akcje</th>
    </tr>
  </thead>

  <tbody>
    <% @vechicle_costs.each do |vechicle_cost| %>
      <tr>
        <td><%= vechicle_cost.name %></td>
        <td><%= vechicle_cost.vechicle %></td>
        <td><%= vechicle_cost.cost %></td>
        <td><%= link_to 'Przejdź', vechicle_cost, class:"btn btn-xs btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div align="center">
  <%= link_to 'Nowy koszt pojazdu', new_vechicle_cost_path, class:"btn btn-success" %>
</div>

</div>
