

<p>
  <strong>Name:</strong>
  <%= @vechicle_cost.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @vechicle_cost.user %>
</p>

<p>
  <strong>Vechicle:</strong>
  <%= @vechicle_cost.vechicle %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @vechicle_cost.cost %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @vechicle_cost.desc %>
</p>

<%= link_to 'Edit', edit_vechicle_cost_path(@vechicle_cost) %> |
<%= link_to 'Back', vechicle_costs_path %>
