<% content_for :title, "Lista samochodów" %>

<div class="container">

<h1 class=page-header><%= @vechicle.name %></h1>

<div class="row">
  <div class="col-md-8" align="left">
    <p>Tablice rejestracyjne: <strong><%= @vechicle.plates %></strong></p>
    <p>Data produkcji: <strong><%= @vechicle.productiondate %></strong></p>
    <p>Data rejestracji: <strong><%= @vechicle.registration %></strong></p>
    <p>Ostatni przegląd: <strong><%= @vechicle.lastrevision %></strong></p>
    <p>Następny przegląd: <strong><%= @vechicle.nextrevison %></strong></p>
    <p>Opis: <strong><%= @vechicle.desc %></strong></p>
    <p>Przebieg: <strong><%= @vechicle.mileage %> km</strong></p>
    <p>Spalanie z ostatniego tankowania: <strong><%= VechicleFuel.where(vechicle_id:@vechicle.id).pluck(:consumption).last %>l na 100km</strong></p>
    <p>
      <%= link_to 'Edycja pojazdu', edit_vechicle_path(@vechicle), class:"btn btn-warning" %>
      <%= link_to 'Lista pojazdów', vechicles_path, class:"btn btn-primary" %>
    </p>
    <p>
      <%= link_to 'Parametry', vechicle_parameters_vechicle_path(id:@vechicle.id, date: @date), class:"btn btn-info" %>
      <%= link_to 'Tankowania', vechicle_fuels_vechicle_path(id:@vechicle.id), class:"btn btn-info" %>
      <%= link_to 'Koszty', vechicle_costs_vechicle_path(id:@vechicle.id), class:"btn btn-info" %>
    </p>
  </div>
  <div class="col-md-4" align="center">
    <% if @vechicle.photo? %>
      <%= link_to( image_tag(@vechicle.photo.url(:thumb)), @vechicle.photo.url) %>
      <p align="center"><i>kliknij, aby powiększyć</i></p>
    <% else %>
      <p align="center"><i>brak ilustracji</i></p>
    <% end %>
    <h4 class=page-header>Załączniki</h4>
    <% if @vechicle.attachments? %>
      <% @vechicle.attachments.each_with_index do |attach, index| %>
        <p><%= link_to File.basename(attach.url), attach.url %></p
      <% end %>
    <% else %>
      <p align="center"><i>brak załączników</i></p>
    <% end %>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-12">
    <h4 id="comments"> Notatki do pojazdu </h4>
    <table class="table">
      <thead>
        <tr>
          <th>Autor</th>
          <th>Data</th>
          <th>Treść</th>
        </tr>
      </thead>
      <tbody>
        <% @vechicle_notes.each do |vechicle_note| %>
        <% if @vechicle.id == VechicleNote.where(id:vechicle_note.vechicle_id).pluck(:id).last %>
          <tr>
            <td><%= User.where(id:vechicle_note.user_id).pluck(:first_name).last %> <%= User.where(id:vechicle_note.user_id).pluck(:last_name).last %></td>
            <td><%= vechicle_note.created_at.strftime("%d.%m.%Y") if vechicle_note.created_at?%></td>
            <td><%= vechicle_note.name %></td>
          </tr>
        <% end %><% end %>
      </tbody>
    </table>
      <%= form_for VechicleNote.new do |f| %>
        <%= f.hidden_field :vechicle_id, :value => @vechicle.id  %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <div class="col-md-12">
        <div class="input-group">
          <span class="input-group-addon">Treść</span>
            <%= f.text_field :name, type:"text", placeholder:"Treść notatki", class:"form-control", required: true %>
          <span class="input-group-btn">
              <%= f.submit "Dodaj notatkę", class:"btn btn-success" %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>

</div>
<br>
