<% content_for :title, "Koszty" %>

<div class="container">
  <h1 class="page-header"><%= "#{@vechicle.name} #{@vechicle.plates}" %>
      <%= link_to "Powrót do samochodu", vechicle_path(@vechicle.id), class:"btn btn-sm btn-primary" %></h1>

  <h4 class="page-header">Nowy koszt</h4>
    <%= form_for VechicleCost.new do |f| %>
      <%= f.hidden_field :vechicle_id, :value => @vechicle.id  %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="col-md-12">
      <div class="input-group">
        <span class="input-group-addon">Treść</span>
          <%= f.text_field :name, type:"text", placeholder:"Opis kosztu", class:"form-control", required: true %>
        <span class="input-group-addon">Koszt</span>
          <%= f.number_field :cost, type:"text", min:0, placeholder:"Koszt w złotówkach", class:"form-control", required: true %>
        <span class="input-group-btn">
            <%= f.submit "Dodaj koszt", class:"btn btn-success" %>
        </span>
      </div>
    </div>
  <% end %>
<br>

  <h4 class="page-header">Lista kosztów</h4>
  <div class="row" align="center">
    <div class="col-md-4">
      <%= link_to vechicle_costs_vechicle_path(date: @date - 1.month), class: "btn btn-info" do %>
        <i class="fa-calendar-minus-o"> Poprzedni Miesiąc</i>
      <% end %>
    </div>
    <div class="col-md-4">
      <h4 id="day"><%= l(@date, format: :calendar).titleize %></h4>
    </div>
    <div class="col-md-4">
      <%= link_to vechicle_costs_vechicle_path(date: @date + 1.month), class: "btn btn-info" do %>
        <i class="fa-calendar-plus-o"> Następny Miesiąc</i>
      <% end %>
    </div>
  </div>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Autor</th>
        <th>Data</th>
        <th>Treść</th>
        <th>Koszt</th>
      </tr>
    </thead>
    <tbody>
      <% @vechicle_costs.order("created_at desc").each do |vechicle_cost| %>
        <% if vechicle_cost.created_at %>
          <% if @date.strftime("%Y-%m-%d") == vechicle_cost.created_at.strftime("%Y-%m-%d") %>
          <tr>
            <td><%= User.where(id:vechicle_cost.user_id).pluck(:first_name).last %> <%= User.where(id:vechicle_cost.user_id).pluck(:last_name).last %></td>
            <td><%= vechicle_cost.created_at.strftime("%d.%m.%Y") if vechicle_cost.created_at? %></td>
            <td><%= link_to vechicle_cost.name, vechicle_cost %></td>
            <td><%= vechicle_cost.cost %> zł</td>
          </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div align="center">
    <p><%= will_paginate @vechicle_costs, renderer: BootstrapPagination::Rails %></p>
  </div>
</div>
</div>
</br>
