<!DOCTYPE html>
<html lang="pl">
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= yield(:title) %> – Paliwko</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "jsapi", "chartkick" %>
  </head>

  <body>
    <% if yield(:menu) == "admin" %>
      <%= render 'layouts/header-admin' %>
    <% elsif yield(:menu) == "printer" %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>
      <%= render partial: 'layouts/messages', flash: flash %>
    <%= yield %>
    <p align="center" class="dontprint" ><%= link_to "\u00A9 2017 Kamil Pek", pages_about_path %></p>
  </body>

</html>
